<div style="margin-left:12px; margin-right:12px">
	<p>Otherkin.club is a fediverse instance for otherkin, therian, and other non-human identified folks.</p>
	<p><a target="_blank" rel="noopener" href="https://meta.otherkin.club">About The Instance (in progress)</a></p>
	<h4>Staff</h4>
	<h5>Admin</h5>
	<ul><li><a href="https://otherkin.club/user/foxiepaws" >@foxiepaws</a></li></ul>
			
	<p><a href="/main/all">Pleroma FE</a> | <a href="/web">Mastodon FE</a></p>
</div>

